{% extends 'TestBundle::base.html.twig' %}

{% block body %}
    <ul>
        <li>
            <a href="{{ path('order_index') }}">Order</a>
        </li>
        <li>
            <a href="{{ path('address_index') }}">Address</a>
        </li>
    </ul>
{% endblock %}
