{% extends 'TestBundle::base.html.twig' %}

{% block body -%}
    <h1>Order list</h1>
        <a href="{{ path('order_new') }}" class="btn btn-primary">Create a new entry</a>
        <a href="{{ path('api_orders_list', { '_format': 'json' }) }}" class="btn btn-default">Export to JSON</a>
        <a href="{{ path('api_orders_list', { '_format': 'yml' }) }}" class="btn btn-default">Export to YML</a>
        
        {{ grid(grid, 'TestBundle::grid/blocks_js.jquery.html.twig') }}


    {% endblock %}
