{% extends 'TestBundle::base.html.twig' %}

{% block body -%}
    <h1>Order</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Order_id</th>
                <td>{{ entity.orderid }}</td>
            </tr>
            <tr>
                <th>Marketplace</th>
                <td>{{ entity.marketplace }}</td>
            </tr>
            <tr>
                <th>Idflux</th>
                <td>{{ entity.idFlux }}</td>
            </tr>
            <tr>
                <th>Order_status_marketplace</th>
                <td>{{ entity.orderstatusmarketplace }}</td>
            </tr>
            <tr>
                <th>Order_status_lengow</th>
                <td>{{ entity.orderstatuslengow }}</td>
            </tr>
            <tr>
                <th>Order_purchase_datetime</th>
                <td>{{ entity.orderpurchasedatetime|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Order_amount</th>
                <td>{{ entity.orderamount }}</td>
            </tr>
            <tr>
                <th>Order_tax</th>
                <td>{{ entity.ordertax }}</td>
            </tr>
            <tr>
                <th>Order_shipping</th>
                <td>{{ entity.ordershipping }}</td>
            </tr>
            <tr>
                <th>Order_currency</th>
                <td>{{ entity.ordercurrency }}</td>
            </tr>
            <tr>
                <th>Customer_id</th>
                <td>{{ entity.customerid }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('order_index') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('order_edit', { 'order_id': entity.orderid }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
