{% extends 'TestBundle::base.html.twig' %}

{% block body -%}
    <h1>Address list</h1>
    <a href="{{ path('address_new') }}" class="btn btn-primary">Create a new entry</a>
    
    {{ grid(grid, 'TestBundle::grid/blocks_js.jquery.html.twig') }}


    {% endblock %}
