{% extends 'TestBundle::base.html.twig' %}

{% block body -%}
    <h1>Address creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('address_index') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
