{% extends 'TestBundle::base.html.twig' %}

{% block body -%}
    <h1>Address</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Civility</th>
                <td>{{ entity.civility }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ entity.lastname }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ entity.firstname }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.email }}</td>
            </tr>
            <tr>
                <th>Address_1</th>
                <td>{{ entity.address1 }}</td>
            </tr>
            <tr>
                <th>Address_2</th>
                <td>{{ entity.address2 }}</td>
            </tr>
            <tr>
                <th>Address_3</th>
                <td>{{ entity.address3 }}</td>
            </tr>
            <tr>
                <th>Zipcode</th>
                <td>{{ entity.zipcode }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ entity.city }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ entity.country }}</td>
            </tr>
            <tr>
                <th>Phone_home</th>
                <td>{{ entity.phonehome }}</td>
            </tr>
            <tr>
                <th>Phone_mobile</th>
                <td>{{ entity.phonemobile }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('address') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('address_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
